*.0.png
.DS_Store
*.aux
*.log
trash*
src/*.png
*.pyc
*.p
log.txt
*.swp
*.m~
*.DS_Store
src/right_angle_cam_figs/
*.MOV
*.avi
*.png
*.mat
*.fig
*.JPG
*.__afs*
*.tiff
*.mp4
*.m4v
*.jpeg
*.eps
*.out
automatic_display_and_pictures/bad/
automatic_display_and_pictures/calibration/
automatic_display_and_pictures/output_images/
automatic_display_and_pictures/output_images_lightson/
